<html layout:decorate="~{common/layout.html}">

<body>

<header layout:fragment="header" class="sticky top-0 z-50">
  <div class="navbar bg-white shadow border-b-2 border-info">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl" href="/">
        <img class="h-12 w-auto" src="https://i.ibb.co/QJr89md/image2.png" alt="로고">
      </a>
      <a href="/resumes/advices" class="btn btn-ghost normal-case text-xl">이력서 검토</a>
      <a href="/resumes/questions" class="btn btn-ghost normal-case text-xl">면접 예상 질문</a>
      <a href="/jobstatistic/search" class="btn btn-ghost normal-case text-xl">채용 공고</a>
      <a href="/article/main" class="btn btn-ghost normal-case text-xl">커뮤니티</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a href="/member/login" th:if="${@rq.logout}" class="btn btn-ghost normal-case text-xl">로그인</a></li>
        <li><a href="/member/join" th:if="${@rq.logout}" class="btn btn-ghost normal-case text-xl">회원가입</a></li>
        <li>
          <span class="btn btn-ghost normal-case text-xl" th:if="${@rq.login}" th:text="|${@rq.member.nickname}님 환영합니다.|"></span>
          <a href="javascript:;" th:if="${@rq.login}" onclick="$(this).next().submit();" class="btn btn-ghost normal-case text-xl">로그아웃</a>
          <form th:if="${@rq.login}" hidden th:action="|/member/logout|" method="POST"></form>
        </li>
      </ul>
    </div>
  </div>
</header>
</div>
</body>
</html>