<html layout:decorate="~{common/layout.html}">

<body>

<header layout:fragment="header" class="sticky top-0 z-50">
  <div class="navbar bg-white shadow border-b-2 border-info">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl" href="/">
        <img class="h-12 w-auto" src="https://i.ibb.co/QJr89md/image2.png" alt="로고">
      </a>
      <a href="/resumes/advices" class="btn btn-ghost normal-case text-xl">이력서 검토</a>
      <a href="/resumes/questions" class="btn btn-ghost normal-case text-xl">면접 예상 질문</a>
      <a href="/jobstatistic/search" class="btn btn-ghost normal-case text-xl">채용 공고</a>
      <a href="/article/main" class="btn btn-ghost normal-case text-xl">커뮤니티</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a href="/member/login">로그인</a></li>

        <li><a href="/member/join">회원가입</a></li>
      </ul>
    </div>
  </div>
</header>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/member/login" th:if="${@rq.logout}">로그인</a></li>
      <li><a href="/member/logout" th:if="${@rq.login}">로그아웃</a></li>
      <li><a href="/member/join">회원가입</a></li>
    </ul>
  </div>
</div>
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
<th:block layout:fragment="content"></th:block>
<!-- 기본 템플릿 안에 삽입될 내용 End -->

<!-- 자바스크립트 Start -->
<th:block layout:fragment="script"></th:block>
<!-- 자바스크립트 End -->
</body>
</html>