<form th:fragment="jobRequestForm (jobRequestForm)"
      th:action="@{/jobstatistic/search/all}" th:object="${jobRequestForm}" method="get"
      class="flex flex-col gap-6"
      onsubmit="JobRequest__submit(this); return false;">

    <div class="mt-2">
        <label class="label">
            <span class="label-text">직무를 선택해주세요</span>
        </label>
        <select th:field="*{sector}" class="select select-bordered w-full max-w-xs">
            <option value="" disabled selected>원하시는 직무를 선택해주세요</option>
            <option value="84">백엔드</option>
            <option value="92">프론트엔드</option>
            <option value="2232">풀스택</option>
            <!--            <option value="0">모두보기</option>-->
        </select>
    </div>

    <div class="form-control">
        <label class="label">
            <span class="label-text">경력을 작성해주세요(경력 상관없이는 -1 입력)</span>
        </label>
        <input type="text" th:field="*{career}" placeholder="숫자로 입력해주세요" class="input input-bordered caret-pink-500"/>
    </div>


    <button type="submit" class="btn mb-6">제출</button>
</form>
