<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout.html}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.6/dist/full.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css"/>

    <title>면접 예상 질문</title>
</head>
<body>


<main layout:fragment="main" class="flex justify-center items-center h-auto mt-16">

    <script>
        var sectionIndex = 0; // 섹션 인덱스를 추적하는 변수

        function addResumeSection() {
            var resumeSectionsDiv = document.getElementById("resume-sections");

            var sectionDiv = document.createElement("div");
            sectionDiv.classList.add("mb-4");

            var resumeTypeSelect = document.createElement("select");
            resumeTypeSelect.name = "resumeRequests[" + sectionIndex + "].resumeType"; // 이름에 인덱스 사용
            resumeTypeSelect.classList.add("select", "select-bordered", "w-full", "max-w-xs", "mb-2");

            var options = [
                {value: "introduction", text: "자기 소개"},
                {value: "technology stack", text: "기술 스택"},
                {value: "career history", text: "경력 사항"},
                {value: "project experience", text: "프로젝트 경험"}
            ];
            options.forEach(function(option) {
                var opt = document.createElement("option");
                opt.value = option.value;
                opt.innerText = option.text;
                resumeTypeSelect.appendChild(opt);
            });

            var contentTextarea = document.createElement("textarea");
            contentTextarea.name = "resumeRequests[" + sectionIndex + "].content"; // 이름에 인덱스 사용
            contentTextarea.classList.add("textarea", "textarea-bordered", "h-64", "mb-2");
            contentTextarea.placeholder = "선택한 분야에 맞는 이력서 내용을 작성해주세요.";

            var deleteButton = document.createElement("button");
            deleteButton.type = "button";
            deleteButton.textContent = "삭제";
            deleteButton.classList.add("text-sm", "mb-2");
            deleteButton.onclick = function() {
                resumeSectionsDiv.removeChild(sectionDiv);
            };

            sectionDiv.appendChild(resumeTypeSelect);
            sectionDiv.appendChild(document.createElement("br"));
            sectionDiv.appendChild(contentTextarea);
            sectionDiv.appendChild(deleteButton);

            resumeSectionsDiv.appendChild(sectionDiv);

            sectionIndex++; // 다음 섹션에 사용할 인덱스 증가
        }
    </script>


    <form action="/resumes/questions" method="post" style="width:600px; margin:auto;">
        <h1 class="text-2xl mb-6">📝 면접 예상 질문을 받아보세요</h1>

        <label for="job" class="mb-4">원하는 직업을 선택해주세요</label>
        <div class="mt-2">
            <select class="select select-bordered w-full max-w-xs" id="job" name="job">
                <option value="" disabled selected>취업을 희망하는 직업을 선택해주세요</option>
                <option value="Software Backend Developer">백엔드 개발자</option>
                <option value="Software Frontend Developer">프론트엔드 개발자</option>
                <option value="Social Worker">사회 복지사</option>
            </select>
        </div>

        <div class="mb-6"></div>

        <label for="career" class="mb-6">Career</label>
        <div class="mt-2">
            <select class="select select-bordered w-full max-w-xs" id="career" name="career">
                <option value="experienced">경력</option>
                <option value="newcomer">신입</option>
            </select>
        </div>

        <div class="mb-6"></div>


        <div id="resume-sections" class="mb-6">

        </div>

        <button type="button" onclick="addResumeSection()" class="btn mb-6">분야 추가</button>

        <button type="submit" class="btn mb-6">제출</button>

        <h1 class="mb-4">답변을 생성하는데에는 1분 정도가 걸려요. 잠시만 기다려주세요!</h1>
    </form>
</main>

</body>
</html>