<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.6/dist/full.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css"/>

    <title>Resume Review</title>
</head>
<body>

<div layout:fragment="content" class="flex justify-center items-center h-auto mt-16">
    <form action="/resumes/generate" method="post" style="width:600px; margin:auto;">
        <label for="job" class="mb-4">원하는 직업을 선택해주세요</label>
        <div class="mt-2">
            <select class="select select-bordered w-full max-w-xs" id="job" name="job">
                <option value="" disabled selected>취업을 희망하는 직업을 선택해주세요</option>
                <option value="Software Backend Developer">백엔드 개발자</option>
                <option value="Software Frontend Developer">프론트엔드 개발자</option>
                <option value="Social Worker">사회 복지사</option>
            </select>
        </div>

        <label for="career" class="mb-6">경력</label>
        <div class="mt-2">
            <select class="select select-bordered w-full max-w-xs" id="career" name="career">
                <option value="experienced">경력</option>
                <option value="newcomer">신입</option>
            </select>
        </div>

        <label for="resumeType" class="mb-2">검토를 받고싶은 분야를 선택해주세요</label>
        <div class="mt-2">
            <select class="select select-bordered w-full max-w-xs" id="resumeType" name="resumeType">
                <option value="introduction">자기소개</option>
                <option value="technology stack">기술 스택</option>
                <option value="career history">업무 경험</option>
                <option value="project experience">프로젝트</option>
            </select>
        </div>

        <div class="form-control mb-2">
            <label class="label">
                <span class="label-text">이력서는 100자 이상 작성해주세요.</span>
            </label>
            <textarea class="textarea textarea-bordered h-64" id="content" name="content" placeholder="선택한 분야에 맞는 이력서 내용을 작성해주세요."></textarea>
        </div>
        <button type="submit" class="btn mb-6">제출</button>
    </form>
</div>

</body>
</html>
