<html layout:decorate="~{layout/layout.html}">
<head>
    <title>게시글 상세 페이지</title>
</head>
<body>
<main layout:fragment="main" class="container my-3 mx-auto">

    <div class="container mx-auto py-8 w-1/2">
        <a href="/article/list" class="bg-white text-neutral px-1 py-1 mb-3 rounded-md flex-start hover:bg-gray-200">&lt; 전체 게시글</a>
        <h1 class="text-2xl font-bold flex-grow pl-3 mt-2 truncate overflow-ellipsis" th:text="${article.title}"></h1>
        <div class="flex justify-between mt-2 mb-1">
            <p class="text-xs mt-2 mr-2 w-80 ml-3" th:text="${article.member.nickname}"></p>
            <p class="flex-grow text-xs mt-2" th:text="${#temporals.format(article.createdDate, 'yyyy-MM-dd HH:mm')}"></p>
            <a th:href="@{|/article/update/${article.id}|}" th:if="${@rq.login  and @rq.member.id == article.member.id}" class="text-xs text-black mt-2 underline text-gray-400">수정</a>
            <a href="javascript:void(0);" th:if="${@rq.login and @rq.member.id == article.member.id}" th:data-uri="@{|/article/delete/${article.id}|}" class="delete text-xs text-black mt-2 mx-2 underline text-gray-400">삭제</a>
            <p class="text-xs mt-2 mr-2" th:text="|조회:${article.viewCount}|"></p>
            <p class="text-xs mt-2 mr-2" th:text="|추천:${#lists.size(article.likesList)}|"></p>
            <p class="text-xs mt-2" th:text="|댓글:${article.commentsCount}|"></p>
        </div>
        <hr class="border-neutral mb-4">

        <div class="min-h-[200px]">
            <div style="word-wrap: break-word;">
                <div class="text-sm pl-3 min-h-[120px]" style="word-break: break-word; white-space: pre-wrap;"  th:text="${article.content}"></div>
            </div>
            <div class="flex flex-wrap ml-3">
                <tr th:each="i : ${#numbers.sequence(1, 5)}" th:with="file=${article.extra.fileMap.get('file\_\_' + i)}" class="flex">
                    <th:block th:if="${file != null}">
                        <a th:href="@{${file.s3Url}}" target="_blank">
                            <img id="img" class="object-cover w-auto h-[120px] mr-4" title="새창에서 크게 보기" th:src="@{${file.s3Url}}" alt="">
                        </a>
                    </th:block>
                </tr>
            </div>
        </div>
        <div class="flex flex-wrap">
            <th:block th:each="hashTag : ${article.hashTagList}">
                <a th:href="@{${hashTag.keyword.listUrl}}" class="bg-gray-300 px-2 py-1 rounded-full m-2">
                    #[[${hashTag.keyword.content}]]
                </a>
            </th:block>
        </div>
        <div class="flex justify-center">
            <form th:action="@{|/likes/like/article/${article.id}|}" method="post">
                <button type="submit" class="bg-neutral border-gray-300 text-white px-4 py-1 mt-4 rounded-md mr-2 hover:bg-black">
                    <i class="fa-solid fa-heart text-xl" th:if="${article.isMemberLikesArticle(@rq.member)}"></i>
                    <i class="fa-regular fa-heart text-xl" th:if="${!article.isMemberLikesArticle(@rq.member)}"></i><p class="text-xs mt-1">좋아요</p></i>
                </button>
            </form>
        </div>
        <hr class="border-neutral mt-1 mb-4">
        <!--댓글 등록-->
        <form th:action="@{|/comment/create/${article.id}|}" th:object="${commentRequestDto}" method="post" class="flex mb-4 justify-between items-start" onsubmit="CommentRequestForm__submit(this); return false;">
            <div class="flex">
                <div th:if="${@rq.login}" th:text="${@rq.member.nickname}" class="text-xs w-32 text-center truncate overflow-ellipsis" ></div>
            </div>
            <textarea name="content" th:field="*{content}" class="form-textarea border resize-none border-neutral rounded-md px-4 py-2 flex-grow focus:outline-none min-h-[100px]" placeholder="댓글을 작성하세요"></textarea>
            <button type="submit" class="register bg-neutral text-white px-4 py-2 rounded-md ml-2 flex-start text-xs hover:bg-black">등록</button>
        </form>
        <!--댓글 등록 완료-->

        <hr class="border-neutral mt-4">
        <ul class="container" th:each="comment : ${article.commentList}">
            <div th:if="${!comment.deleted}">
                <li class="text-black p-1 justify-between">
                    <!--댓글 내용-->
                    <div class="flex justify-between items-center">
                        <div class="flex items-end mb-3">
                            <div th:text="${comment.member.nickname}" class="text-sm pl-3 mr-2">글쓴이</div>
                            <div class="text-xs" th:text="${#temporals.format(comment.createdDate, '(yyyy-MM-dd HH:mm)')}"></div>
                        </div>
                        <div class="flex items-center justify-center">
                            <button class="text-xs text-black underline modify-button pb-3  text-gray-400" th:if="${@rq.login  and @rq.member.id == comment.member.id}" onclick="editComment()" th:attr="data-id=${comment.id}">수정</button>
                            <a href="javascript:void(0);" th:if="${@rq.login  and @rq.member.id == comment.member.id}" th:data-uri="@{|/comment/delete/${comment.id}|}" class="delete text-xs text-black mx-2 underline pb-3 text-gray-400">삭제</a>
                            <form th:action="@{|/likes/like/comment/${comment.id}|}" method="post">
                                <!--            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
                                <button type="submit" class="flex bg-white border-gray-300 text-neutral px-3 py-1 rounded-md mr-2 hover:bg-gray-200">
                                    <i class="fa-regular fa-heart text-xs" th:if="${!comment.isMemberLikesComment(@rq.member)}"></i>
                                    <i class="fa-solid fa-heart text-xs" th:if="${comment.isMemberLikesComment(@rq.member)}"></i>
                                    <p th:text="${#lists.size(comment.likesList)}" class="ml-1 text-xs"></p>
                                </button>
                            </form>
                        </div>
                    </div>
                    <p th:id="|text-${comment.id}|" style="word-break: break-word;" class="text-sm min-h-[30px] modify-comment pl-3"th:text="${comment.content}"></p>
                    <!--댓글 내용 끝-->

                    <!--댓글 수정-->
                    <form th:action="@{|/comment/update/${comment.id}|}" th:object="${commentRequestDto}" method="post" class="mb-4 justify-between items-start" onsubmit="CommentRequestForm__submit(this); return false;">
                        <!--            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
                        <textarea th:id="|textarea-${comment.id}|" name="content" th:field="*{content}" class="hidden modify-textarea form-textarea w-full p-3 resize-none overflow-y-auto border border-neutral rounded-md mb-2 text-sm" placeholder="댓글을 작성하세요"></textarea>
                        <div class="flex">
                            <input th:id="|button-${comment.id}|" type="submit" value="수정완료" class="hidden modify-save-button bg-neutral text-white px-4 py-2 rounded-md ml-2 flex-start text-xs hover:bg-black ml-auto" onclick="saveComment()" th:attr="data-id=${comment.id}">
                        </div>
                    </form>
                    <div class="flex justify-end">
                        <button class="text-xs text-black underline create-subComment-button pb-3" onclick="createSubCommentForm()" th:attr="data-id=${comment.id}">답글</button>
                    </div>
                    <!--댓글 수정 완료-->



                    <ul class="container" th:each="subComment : ${comment.subCommentList}">

                        <div th:if="${!subComment.deleted}" class="flex pl-3">
                            <div class="mx-2 flex flex-col">
                                <div class="mt-3 fa-solid fa-arrow-turn-up fa-rotate-90 text-xl text-neutral"></div>
                            </div>
                            <li class="text-black p-1 justify-between flex-grow border-t border-gray-300 bg-gray-100">
                                <!--답글 내용-->
                                <div class="flex justify-between items-center">
                                    <div class="flex items-end mb-3 mt-3">
                                        <div th:text="${subComment.member.nickname}" class="text-sm mr-2"></div>
                                        <div class="text-xs" th:text="${#temporals.format(subComment.createdDate, '(yyyy-MM-dd HH:mm)')}"></div>
                                    </div>
                                    <div class="flex items-center justify-center">
                                        <button class="text-xs text-black underline modify-button pb-3 text-gray-400" th:if="${@rq.login  and @rq.member.id == subComment.member.id}" onclick="editSubComment()" th:attr="data-id=${subComment.id}">수정</button>
                                        <a href="javascript:void(0);" th:if="${@rq.login and @rq.member.id == subComment.member.id}" th:data-uri="@{|/subComment/delete/${subComment.id}|}" class="delete text-xs text-black mx-2 underline pb-3  text-gray-400">삭제</a>
                                        <form th:action="@{|/likes/like/subComment/${subComment.id}|}" method="post">
                                            <button type="submit" class="flex bg-white border-gray-300 text-neutral px-3 py-1 rounded-md mr-2 hover:bg-gray-200">
                                                <i class="fa-regular fa-heart text-xs" th:if="${!subComment.isMemberLikesSubComment(@rq.member)}"></i>
                                                <i class="fa-solid fa-heart text-xs" th:if="${subComment.isMemberLikesSubComment(@rq.member)}"></i>
                                                <p th:text="${#lists.size(subComment.likesList)}" class="ml-1 text-xs"></p>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <!--답글 내용 끝-->

                                <!--답글 수정-->
                                <p th:id="|text-subComment-${subComment.id}|" style="word-break: break-word;" class="text-sm min-h-[25px] modify-comment"th:text="${subComment.content}"></p>
                                <div th:id="|update-subComment-${subComment.id}|" class="hidden">
                                    <form th:action="@{|/subComment/update/${subComment.id}|}" th:object="${subCommentRequestDto}" method="post" class="mb-4 justify-between items-start" onsubmit="SubCommentRequestForm__submit(this); return false;">
                                        <textarea name="content" th:id="|textarea-subComment-${subComment.id}|" th:field="*{content}" class="form-textarea2 modify-textarea w-full p-3 resize-none overflow-y-auto border border-neutral rounded-md mb-2 text-sm" placeholder="답글을 작성하세요"></textarea>
                                        <div class="flex">
                                            <button type="submit" class="register2 modify-save-button bg-neutral text-white px-4 py-2 rounded-md ml-2 flex-start text-xs hover:bg-black ml-auto" onclick="saveSubComment()" th:attr="data-id=${subComment.id}">수정완료</button>
                                        </div>
                                    </form>
                                </div>
                                <!--답글 수정 완료-->
                            </li>
                        </div>
                    </ul>


                    <!--답글 등록-->
                    <div th:id="|hidden-subComment-${comment.id}|" class="hidden">
                        <hr class=" border-gray-300 mt-4 mb-4">
                        <div class="flex justify-start">
                            <div class="mx-2">
                                <div class="fa-solid fa-arrow-turn-up fa-rotate-90 text-xl text-neutral"></div>
                            </div>
                            <form th:action="@{|/subComment/create/${comment.id}|}" th:object="${subCommentRequestDto}" method="post" class="mt-1 mb-4 justify-between items-start flex-grow" onsubmit="SubCommentRequestForm__submit(this); return false;">
                                <!--            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
                                <textarea name="content" th:field="*{content}" class="form-textarea2 w-full p-3 resize-none overflow-y-auto border border-neutral rounded-md mb-2 text-sm" placeholder="답글을 작성하세요"></textarea>
                                <div class="flex">
                                    <button type="submit" class="register2 bg-neutral text-white px-4 py-2 rounded-md ml-2 flex-start text-xs hover:bg-black ml-auto" onclick="createSubComment()" th:attr="data-id=${comment.id}">등록</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--답글 등록 완료-->
                    <hr class=" border-gray-300 mb-4">
                </li>
            </div>
        </ul>
    </div>

    <script layout:fragment="script" type='text/javascript'>
        const delete_elements = document.getElementsByClassName("delete");
        Array.from(delete_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                if(confirm("정말로 삭제하시겠습니까?")) {
                    location.href = this.dataset.uri;
                };
            });
        });


        function CommentRequestForm__submit(form) {
            if(form.content.value.length === 0) {
                toastWarning('내용을 입력해야 합니다.');
                form.content.focus();
                return;
            }

            form.submit();
        }

        function SubCommentRequestForm__submit(form) {
            if(form.content.value.length === 0) {
                toastWarning('내용을 입력해야 합니다.');
                form.content.focus();
                return;
            }

            form.submit();
        }

        function editComment() {
            const id = event.target.getAttribute('data-id');

            const contentElement = document.querySelector('#textarea-' + id);
            const contentElement2 = document.querySelector('#button-' + id);
            const textElement = document.querySelector('#text-' + id);

            if (contentElement.classList.contains('hidden')) {
                contentElement.classList.remove('hidden');
                contentElement2.classList.remove('hidden');
                contentElement.value = textElement.textContent.trim();
                textElement.classList.add('hidden');
            }
        }

        function saveComment() {
            const id = event.target.getAttribute('data-id');
            const contentElement3 = document.querySelector('#textarea-' + id);
            const contentElement4 = document.querySelector('#button-' + id);
            const textElement = document.querySelector('#text-' + id);

            if (!contentElement3.classList.contains('hidden')) {
                contentElement3.classList.add('hidden');
                contentElement4.classList.add('hidden');
                textElement.textContent = contentElement3.value;
                textElement.classList.remove('hidden');
            }
        }

        function createSubCommentForm() {
            const id = event.target.getAttribute('data-id');

            const contentElement5 = document.querySelector('#hidden-subComment-' + id);

            if (contentElement5.classList.contains('hidden')) {
                contentElement5.classList.remove('hidden');
            }
        }

        function createSubComment() {
            const id = event.target.getAttribute('data-id');
            const contentElement6 = document.querySelector('#hidden-subComment-' + id);

            if (!contentElement6.classList.contains('hidden')) {
                contentElement6.classList.add('hidden');
            }
        }

        function editSubComment() {
            const id = event.target.getAttribute('data-id');

            const contentElement = document.querySelector('#update-subComment-' + id);
            const textElement = document.querySelector('#text-subComment-' + id);
            const contentElement2 = document.querySelector('#textarea-subComment-' + id);

            if (contentElement.classList.contains('hidden')) {
                contentElement.classList.remove('hidden');
                contentElement2.value = textElement.textContent.trim();
                textElement.classList.add('hidden');
            }
        }

        function saveSubComment() {
            const id = event.target.getAttribute('data-id');
            const contentElement = document.querySelector('#update-subComment-' + id);
            const textElement = document.querySelector('#text-subComment-' + id);


            if (!contentElement.classList.contains('hidden')) {
                contentElement.classList.add('hidden');
                textElement.textContent = contentElement.value;
                textElement.classList.remove('hidden');
            }
        }
    </script>
</main>

</body>
</html>