<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div layout:fragment="content" class="container">
    <div class="container mx-auto py-8 w-1/2">
        <h1 class="text-2xl font-bold">게시글 작성</h1>

        <form class="mt-4" th:object="${articleForm}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="mb-4">
                <input type="text" th:field="*{title}" class="form-input w-full border border-info rounded-md h-10 p-3" placeholder="제목을 입력하세요">
            </div>

            <div class="mb-4">
                <textarea th:field="*{content}" class="form-textarea w-full h-64 resize-none border border-info rounded-md p-3" placeholder="본문을 입력하세요"></textarea>
            </div>

            <button type="submit" class="register bg-info hover:bg-blue-500 text-white font-bold px-4 py-2 rounded border-info">저장하기</button>
        </form>
    </div>
</div>

<script layout:fragment="script" type='text/javascript'>
    const btn = document.querySelector('.register');
    const titleArea = document.querySelector('.title-textarea');
    const contentArea = document.querySelector('.content-textarea');

    btn.addEventListener('click', function() {
        if (titleArea.value === '') {
            confirm('제목을 입력해야 합니다.');
        }
        else if(contentArea.value === '') {
            confirm('내용을 입력해야 합니다.');
        }
    });
</script>
</html>