<html layout:decorate="~{layout/layout.html}">
<head>
    <title>전체 게시글</title>
</head>
<body>
    <main layout:fragment="main" class="container my-3 mx-auto">
        <div class="container mx-auto p-8 w-2/3">
            <div class="flex items-center justify-between h-16">
                <h1 class="text-2xl font-bold">전체 게시글</h1>
                <form class="flex flex-col gap-6 flex-grow">
                    <div class="form-control pt-5">
                        <select name="sortCode" class="ml-2 select w-40 select-ghost select-sm"
                                onchange="$(this).closest('form').submit();">
                            <option value="1">최신순</option>
                            <option value="2">조회순</option>
                            <option value="3">좋아요 많은 순</option>
                        </select>
                        <script>
                            if (params.gender) {
                                $(`select[name="sortCode"]:last`).val(params.sortCode[0]);
                            }
                        </script>
                    </div>
                </form>
                <a th:href="@{/article/create}" class="ml-2 my-3 bg-info text-white px-4 py-2 rounded-lg text-sm hover:bg-blue-500">게시글 작성</a>
            </div>
            <ul class="container">
                <li class="bg-info text-white p-3 flex justify-between border-b h-11">
                    <div class="text-sm flex-grow ">게시글 제목</div>
                    <div class="text-sm w-16 text-center">글쓴이</div>
                    <div class="text-sm  w-16 text-center">추천수</div>
                    <div class="text-sm  w-16 text-center">댓글수</div>
                    <div class="text-sm  w-16 text-center">조회수</div>
                </li>
                <li th:each="article, loop : ${paging}" class="bg-white p-3 flex justify-between border-b h-11">
                    <a th:href="@{|/article/detail/${article.id}|}" th:text="${article.title}" class="text-sm flex-grow"></a>
                    <p th:text="${article.member.username}" class="text-xs  w-16 text-center"></p>
                    <div th:text="${#lists.size(article.likesList)}" class="text-xs  w-16 text-center"></div>
                    <p th:text="${article.commentsCount}" class="text-xs  w-16 text-center"></p>
                    <p th:text="${article.viewCount}" class="text-xs  w-16 text-center"></p>
                </li>

            </ul>

        </div>

        <!-- 페이징처리 시작 -->
        <div th:if="${!paging.isEmpty()}" class="flex justify-center mb-6">
            <div class="flex w-1/2 justify-center">
                <a class="page-link btn btn-sm btn-ghost grid-0 m-1" th:href="@{|?page=${paging.number-1}|}" th:classappend="${!paging.hasPrevious} ? 'invisible'">
                    <span>&lt; 이전</span>
                </a>
                <a th:text="${page} + 1" class="page-link btn btn-sm btn-ghost m-1" th:href="@{|?page=${page}|}"
                   th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                   th:if="${page >= paging.number / 10 * 10 and page <= paging.number/10*10 + 9}"
                   th:classappend="${page == paging.number} ? 'btn-outline pointer-events-none'"></a>
                <a class="page-link btn btn-sm btn-ghost m-1" th:href="@{|?page=${paging.number+1}|}" th:classappend="${!paging.hasNext()} ? 'invisible'">
                    <span>다음 &gt;</span>
                </a>
            </div>
        </div>
        <!-- 페이징처리 끝 -->

        <div class="flex justify-center">
            <div class="flex items-center border border-gray-300 rounded-md px-4 py-2 w-96">
                <input type="text" class="focus:outline-none flex-grow" placeholder="검색어를 입력하세요">
                <a href="#" class="text-blue-500">🔍</a>
            </div>
        </div>
    </main>
</body>
</html>