<table>
    <thead>
    <tr>
        <th>제목</th>
        <th>작성일시</th>
        <th>좋아요수</th>
        <th>조회수</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="articleResponseDto : ${articleResponseDtoList}">
        <td>
            <a th:href="@{|/article/detail/${articleResponseDto.id}|}" th:text="${articleResponseDto.title}"></a>
        </td>
        <td th:text="${articleResponseDto.createDate}"></td>
        <td th:text="${articleResponseDto.likeCount}"></td>
        <td th:text="${articleResponseDto.viewCount}"></td>
    </tr>
    </tbody>
</table>