<html layout:decorate="~{layout/layout.html}">
<head>
    <title>게시글 작성</title>
</head>
<body>
<main layout:fragment="main" class="container mx-auto">
    <div class="container mx-auto py-8 w-1/2">
        <h1 class="text-2xl font-bold">게시글 작성</h1>

        <form class="mt-4" method="post" onsubmit="ArticleRequestForm__submit(this); return false;" enctype="multipart/form-data">
            <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->
            <div class="mb-4">
                <input type="text" name="title" th:value="${article.title}" class="form-input w-full border border-info rounded-md h-10 p-3" placeholder="제목을 입력하세요">
            </div>

            <div class="mb-4">
                <textarea name="content" th:text="${article.content}" class="form-textarea w-full h-64 resize-none border border-info rounded-md p-3" placeholder="본문을 입력하세요"></textarea>
            </div>

            <div class="mb-4 border border-info flex items-center">
                <p class="pl-3">#</p>
                <input type="text" id="hashTagInput" class="form-input w-full border-0 border-info rounded-md h-10" placeholder="태그를 입력하세요" onkeydown="if(event.keyCode===13) addHashTag(event)">
            </div>

            <div id="hashTagList" class="flex flex-wrap mb-4">
                <div th:if="${!article.hashTagList.isEmpty()}" th:each="hashTag : ${article.hashTagList}">
                    <div class="bg-blue-200 px-2 py-1 rounded-full m-1">
                        <span th:text="|#${hashTag.keyword.content}|" class="keyword"></span>
                        <span onclick="this.parentNode.remove();" class="ml-1 cursor-pointer">&times;</span>
                    </div>
                </div>
                <!-- 해시태그 목록이 여기에 추가될 것입니다. -->
            </div>
            <input type="hidden" id="hashTagStr" name="hashTagStr"/>

            <th:block th:each="i : ${#numbers.sequence(1, 5)}" th:with="file=${article.extra.fileMap.get('file\_\_' + i)}">
                <div>
                    <span th:text="|${i}번 이미지|"></span>

                    <th:block th:if="${file != null}">
                        <hr>
                        <a th:href="@{${file.s3Url}}" target="_blank">
                            <img class="w-10 h-10 object-cover rounded" title="새창에서 크게 보기" th:src="@{${file.s3Url}}" alt="">
                            <br>
                            <label>
                                <input type="checkbox" value="" th:name="|delete___file\_\_${i}|">
                                <span>이미지 삭제</span>
                            </label>
                        </a>
                    </th:block>

                    <hr>
                    <input type="file" th:name="|file\_\_${i}|"
                           accept="image/png, image/gif, image/jpeg">
                </div>
            </th:block>





<!--            <div class="mb-6">-->
<!--                <input type="file" name="file1" class="w-full" onchange="previewImage(event)" accept="image/png, image/gif, image/jpeg">-->
<!--&lt;!&ndash;                <div id="imagePreview" class="mt-2"></div>&ndash;&gt;-->
<!--            </div>-->
<!--            <div class="mb-6">-->
<!--                <input type="file" name="file2" class="w-full" onchange="previewImage(event)" accept="image/png, image/gif, image/jpeg">-->
<!--&lt;!&ndash;                <div id="imagePreview" class="mt-2"></div>&ndash;&gt;-->
<!--            </div>-->

            <button type="submit" class="register bg-info hover:bg-blue-500 text-white font-bold px-4 py-2 rounded border-info" onclick="submitForm()">저장하기</button>
        </form>
    </div>


    <script layout:fragment="script" type='text/javascript'>
        function ArticleRequestForm__submit(form) {
            if (form.title.value.length === 0) {
                toastWarning('제목을 입력해야 합니다.');
                form.title.focus();
                return;
            }

            if(form.content.value.length === 0) {
                toastWarning('내용을 입력해야 합니다.');
                form.content.focus();
                return;
            }

            form.submit();
        }

        // 해시태그 추가를 위한 함수
        function addHashTag(event) {
            event.preventDefault();
            var hashTagInput = document.getElementById('hashTagInput');
            var hashTagText = hashTagInput.value.trim().replace(/\s+/g, ''); // 띄어쓰기 제거

            if (hashTagText !== '') {
                var hashTagList = document.getElementById('hashTagList');
                var listItems = document.createElement('div');
                var listItem = document.createElement('span');
                listItems.className = 'bg-blue-200 px-2 py-1 rounded-full m-1'
                listItem.className = 'keyword';
                listItem.textContent = '#' + hashTagText;
                listItem.id = 'hashTagItem_' + hashTagText;

                var closeButton = document.createElement('span');
                closeButton.className = 'ml-2 cursor-pointer';
                closeButton.innerHTML = '&times;';
                closeButton.addEventListener('click', function () {
                    listItems.remove();
                });

                listItems.appendChild(listItem);
                listItems.appendChild(closeButton);
                hashTagList.appendChild(listItems);
                hashTagInput.value = '';
            }
        }

        // 폼 전송을 위한 함수
        function submitForm() {
            var hashTagList = document.getElementById('hashTagList');
            var hashTagItems = hashTagList.getElementsByClassName('keyword');
            var hashTagValues = [];
            for (var i = 0; i < hashTagItems.length; i++) {
                var hashTagText = hashTagItems[i].textContent.trim().substring(1);
                hashTagValues.push(hashTagText);
            }
            document.getElementById('hashTagStr').value = hashTagValues.join(',');
            document.forms[0].submit();
        }

        function previewImage(event) {
            var reader = new FileReader();
            reader.onload = function () {
                var imagePreview = document.getElementById('imagePreview');
                var image = document.createElement('img');
                image.src = reader.result;
                image.classList.add('w-36', 'h-36', 'object-cover');
                imagePreview.innerHTML = '';
                imagePreview.appendChild(image);
            }
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
</main>

</body>
</html>