<html layout:decorate="~{layout/layout.html}">
<head>
  <title>404</title>
  <style>
    body, html {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    main {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    img {
      width: 100%;
      height: auto;
    }
</style>
</head>
<body>

<main layout:fragment="main" class="flex-grow flex items-center justify-center">
  <img src="https://assets.awwwards.com/assets/redesign/images/pages/404/bg.jpg" alt="">
</main>
</body>
</html>