<html layout:decorate="~{layout/layout.html}">
<body>
<main layout:fragment="main">
<div layout:fragment="content" class="flex justify-center items-center h-auto mt-16">
<!--    valid 숫자만 입력되도록 체크 -->
    <script th:replace="~{jobstatistic/fragment/valid :: jobRequest}"></script>

    <div class="max-w-2xl w-full px-4">
        <h1 class="text-2xl mb-4">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
            👇원하시는 직무와 경력을 선택해주세요
        </h1>

    <form th:replace="~{jobstatistic/fragment/jobRequestFrom :: jobRequestForm (jobRequestForm)}"></form>
    </div>
</div>
</main>
</body>
</html>