<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<main layout:fragment="content" class="flex-grow flex items-center justify-center min-h-screen flex flex-col">
<!--    valid 숫자만 입력되도록 체크 -->
    <script th:replace="~{jobstatistic/fragment/valid :: jobRequest}"></script>

    <div class="max-w-2xl w-full px-4">
        <h1 class="mb-4">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
            원하시는 직무와 경력을 선택해주세요
        </h1>

    <form th:replace="~{jobstatistic/fragment/jobRequestFrom :: jobRequestForm (jobRequestForm)}"></form>
    </div>
</main>
</html>